@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* thin scrollbars for tables */
.thin-scroll::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.thin-scroll::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
